body {
  margin: 0;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d7d3db;
}

.card {
  margin: 1rem;
  text-align: center;
}

.card img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 200px;
  width: 100%;
}

.card button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
}

#homepage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 75%;
}

#signupform {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 75%;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
}

#loginform {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 75%;
  padding-top: 20px;
  padding-bottom: 10px;
}

h2, h4 {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

:root {
  --green: rgb(39, 189, 39);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(25% - 2rem);
  }
}
.login{

  margin-top: 5%;
  width: 90px;
  height: 30px;
  border-radius: 10px;
}
.login:hover{

  background-color: green;
}
.home{
font-size: 20px;
color:green;

}
.logout{

 
  width: 90px;
  height: 30px;
  border-radius: 10px;

}
.logout:hover{

  background-color: red;
}